<!DOCTYPE html>
<html>
<head>
    {% load static  %}
    <link rel="stylesheet/less" href="{% get_static_prefix  %}style.less">
    <script src="{% get_static_prefix %}less.js"></script>
</head>
<body>
    <header>
        <div class="wrapper">
		<img src="{% get_static_prefix  %}gfx/logo.svg">
            <span>Twitter Clone</span>
            {% block login %}
            <a href="/">Home</a>
            <a href="/users/">Public Profiles</a>
            <a href="/users/{{ username }}">My Profile</a>
            <a href="/tweets">Public Tweets</a>
            <form action="/logout">
                <input type="submit" id="btnLogOut" value="Log Out">
            </form>
            {% endblock %}
        </div>
    </header>
    <div id="content">
        <div class="wrapper">
            {% block flash %}
            {% if auth_form.non_field_errors or user_form.non_field_errors or tweet_form.errors %}
            <div class="flash error">
                {{ auth_form.non_field_errors }}
                {{ user_form.non_field_errors }}
                {{ tweet_form.content.errors }}
            </div>
            {% endif %}
            {% if notice %}
            <div class="flash notice">
                {{ notice }}
            </div>
            {% endif %}
            {% endblock %}
 
            {% block content %}
 
            {% endblock %}
        </div>
    </div>
</body>
</html>

