{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
 
{% block content %}
    <div class="panel right">
        <h1>Create a Tweet</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in tweet_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Tweet!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Buddies' Tweets</h1>
        {% for tweet in tweets %}
        <div class="tweetWrapper">
            <a href="/users/{{ tweet.user.username }}">
                <img class="avatar" src="{{ tweet.user.profile.gravatar_url }}">
                <span class="name">{{ tweet.user.first_name }}</span>
            </a>
            @{{ tweet.user.username }}
            <p>
                {{ tweet.content }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
