{% extends "base.html" %}
 
{% block content %}
    <div class="panel right">
        <h1>Create a Tweet</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in tweet_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Tweet!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Public Tweets</h1>
        {% for tweet in tweets %}
        <div class="tweetWrapper">
            <img class="avatar" src="{{ tweet.user.profile.gravatar_url }}">
            <span class="name">{{ tweet.user.first_name }}</span>@{{ tweet.user.username }}
            <span class="time">{{ tweet.creation_date|timesince }}</span>
            <p>{{ tweet.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
