.flash {
	padding: 10px;
	margin: 20px 0;
	&.error {
		background: #ffefef;
		color: #4c1717;
		border: 1px solid #4c1717;
	}
	&.warning {
		background: #ffe4c1;
		color: #79420d;
		border: 1px solid #79420d;
	}
	&.notice {
		background: #efffd7;
		color: #8ba015;
		border: 1px solid #8ba015;
	}
}
input {
    width: 179px;
    &.error {
        background: #ffefef;
        color: #4c1717;
        border: 1px solid #4c1717;
    }
}

